body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}
.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #343a40;
  color: white;
  padding-top: 20px;
  position: sticky;
  top: 0;
  left: 0;
}
.sidebar a {
  color: white;
  padding: 15px;
  display: block;
  text-decoration: none;
}
.sidebar a:hover {
  background-color: #495057;
}
.content {
  margin-left: 30px;
  padding: 20px;
}

.book-list {
  display: none; /* Ẩn danh sách mặc định */
  margin-top: 20px;
}

.active-list {
  display: block; /* Hiển thị khi được chọn */
}

.nav-font-bg {
  font-weight: 700;
  background-color: #e1e1e1;
}

/* BUTTON */
.button-main, .button-view {
  /* background: linear-gradient(to right, #34bef2, #1882ff);
  color: white; */
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  transition: all 0.5s ease;
}

.button-view {
  width: 100%;
  border-radius: 20px;
}

.button-main:hover {
  background: linear-gradient(to left, #34bef2, #1882ff);
  color: white; 
}

.button-view:hover {
  background: linear-gradient(to left, #34bef2, #1882ff);
  color: white; 
}
/* END BUTTON */

      