/* ========== SLIDE ========== */
.container-slide {
  /* padding: 6px 100px; */
  margin: 10px auto;
  position: relative;
  width: 900px;
  height: auto;
  max-height: 90%;
  overflow: hidden;
  /* border-radius: 15px; */
  /* box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; */
}

.container-slide .container-slide-img {
  display: flex;
  transition: transform 0.5s linear;
  align-items: center;
}

.container-slide .container-slide-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
  transition: display, transform 0.3s linear;
  /* display: none; */
}

.container-slide .container-slide-img img.active {
  display: block;
  /* animation: img 0.5s ease-in 0.1s 1; */
}

.container-slide .container-slide-img img:hover {
  transform: scale(1.1);
}

.container-slide .container-slide-img .img.active.nextAnimation {
  animation: next 0.7s linear 0.1s 1;
}

.container-slide .container-slide-img .img.active.prevAnimation {
  animation: prev 0.7s linear 0.1s 1;
}

@keyframes img {
  50% {
      width: 80%;
      height: 80%;
  }
  70% {
      width: 85%;
      height: 85%;
  }
  90% {
      width: 95%;
      height: 95%;
  }
  100% {
      width: 100%;
      height: 100%;
  }
}

@keyframes next {
  50% {
      transform: translateX(20px);
  }

  100% {
      transform: translateX(0);
  }
}

@keyframes prev {
  50% {
      transform: translateX(-20px);
  }

  100% {
      transform: translateX(0);
  }
}

/* ----------------------------------------------
* Generated by Animista on 2024-8-4 18:57:45
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation jello-horizontal
* ----------------------------------------
*/
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}


.container-slide .btn {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(194, 194, 194);
  position: absolute;
  top: 50%;
  border-radius: 50%;
  line-height: 0.3;
  opacity: 0.7;
  text-align: center;
  
}

.container-slide .btn:hover {
  opacity: 1;
}

.container-slide .btn.next {
  right: 5px;
}

.container-slide .btn.prev {
  left: 5px;
}

/* ========== BOX ========== */

.box {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 25px 0;
  /* background-size: cover;
  background-position: center;
  position: relative; */
}

.box .box-text {
  display: flex;
  align-items: normal;
  background-color: white;
  width: 66%;
  height: 60px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.box .box-content {
  display: flex;
  margin: 0 auto;
  padding: 16px 100px;
  width: 80%;
  justify-content: center;
}

.box .box-content .box-item{
  border: 1px solid #ddd;
  margin: 10px;
  padding: 5px;
  background-color: white;
  width: calc(25% - 40px); 
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box .box-content .box-item .title {
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  height: 10%;
  margin-top: 8px;
  text-align: center;
}

.box .box-content .box-item .book_cover {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1;
}


/* ========== BEST-SALE ========== */
.best-seller {
  background-image: url('../images/6874251.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.best-seller .time-sell{
  display: flex;
  align-items: normal;
  background-color: white;
  width: 66%;
  height: 60px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
}

.best-seller .time-sell .time-sell-text{
  margin: 0 10px;
}

.best-seller .time-sell .time-sell-countdown .time{ 
  font-size: 20px;
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 3px;
}

.best-seller .books-sell {
  display: flex;
  margin: 0 auto;
  padding: 16px 100px;
  width: 80%;
  justify-content: center;
}


.best-seller .books-sell div {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 5px;
  background-color: white;
  width: calc(25% - 40px);
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.best-seller .books-sell div .title {
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  height: 10%;
  margin-top: 8px;
}

.best-seller .books-sell .price {
  margin-bottom: 0;
  color: red;
  font-weight: 700;
}

.best-seller .books-sell .book_cover {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1;
}


/* ========== TOP 1 BOOK ========== */

.top-book {
  background-color: white;
}


.top-book .top-book-img {
  width: 40%;
  height: auto;
  margin: 0 10px;
}

.top-book .top-book-img img {
  width: 100%;
  height: auto;

}

.top-book .top-book-text{
  width: 60%;

}

.top-book .top-book-text p{
  text-align: justify;
}


  