#carouselExample {
  padding: 6px 100px;
}

.carousel {
    max-width: 90%;
    margin: auto;
  }
.carousel img {
  border-radius: 10px;
  max-height: 500px;
  object-fit: cover;
}


.container-slide {
  /* padding: 6px 100px; */
  margin: 10px auto;
  position: relative;
  width: 900px;
  height: auto;
  max-height: 90%;
  overflow: hidden;
  /* border-radius: 15px; */
  /* box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; */
}

.container-slide .container-slide-img {
  display: flex;
  transition: transform 0.5s linear;
  align-items: center;
}

.container-slide .container-slide-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
  transition: display, transform 0.3s linear;
  /* display: none; */
}

.container-slide .container-slide-img img.active {
  display: block;
  /* animation: img 0.5s ease-in 0.1s 1; */
}

.container-slide .container-slide-img img:hover {
  transform: scale(1.1);
}

.container-slide .container-slide-img .img.active.nextAnimation {
  animation: next 0.7s linear 0.1s 1;
}

.container-slide .container-slide-img .img.active.prevAnimation {
  animation: prev 0.7s linear 0.1s 1;
}

@keyframes img {
  50% {
      width: 80%;
      height: 80%;
  }
  70% {
      width: 85%;
      height: 85%;
  }
  90% {
      width: 95%;
      height: 95%;
  }
  100% {
      width: 100%;
      height: 100%;
  }
}

@keyframes next {
  50% {
      transform: translateX(20px);
  }

  100% {
      transform: translateX(0);
  }
}

@keyframes prev {
  50% {
      transform: translateX(-20px);
  }

  100% {
      transform: translateX(0);
  }
}

/* ----------------------------------------------
* Generated by Animista on 2024-8-4 18:57:45
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation jello-horizontal
* ----------------------------------------
*/
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}


.container-slide .btn {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(194, 194, 194);
  position: absolute;
  top: 50%;
  border-radius: 50%;
  line-height: 0.3;
  opacity: 0.7;
  text-align: center;
  
}

.container-slide .btn:hover {
  opacity: 1;
}

.container-slide .btn.next {
  right: 5px;
}

.container-slide .btn.prev {
  left: 5px;
}

  