* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 6px 27px;
  background: linear-gradient(to right, #34bef2, #1882ff);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

header .logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

header .logo a img {
  width: 45px;
  height: auto;
  margin-right: 5px;
}

header .box-input {
  width: 50%;
  display: flex;
  justify-content: center;
}

header .box-input #search-bar {
  width: 80%;
  padding: 8px;
  border: none;
  /* border-radius: 4px; */
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
}

header .box-input button {
  border:  none;
  width: 40px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 0.5s ease;
}

header .box-input button:hover {
  background: linear-gradient(to left, #34bef2, #1882ff);
  color: white;
}

header .nav .nav-item {
  margin: 0 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  /* background-color: #34aeff; */
  border-radius: 5px;
  color: #fff;
}


.nav-hide {
  display: none;
}

header .nav .nav-item:hover {
  /* background-color: #006cd7e4; */
  transform: translateY(-2px);
  transition: transform 0.2s linear;
}

header .nav .nav-item a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  font-weight: 600;
}


.container .filter {
  background-color: #f6faff;
  width: 20%;
  height: fit-content;
  border-radius: 5px;
  margin: 20px 0;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container .filter #genre-filter {
  border-bottom: 1px rgb(186, 186, 186) solid;
  margin-bottom: 10px;
}

.container .filter #price-filter {
  border-bottom: 1px rgb(186, 186, 186) solid;
  margin-bottom: 10px;
}

.container .filter #genre-filter {
  border-bottom: 1px rgb(186, 186, 186) solid;
  margin-bottom: 10px;
}

.container .filter #price-sort {
  padding: 5px;
  border-radius: 5px;
  border: 1px rgb(186, 186, 186) solid;
  margin-bottom: 10px;
}

/* BUTTON */
.button-main, .button-view {
  /* background: linear-gradient(to right, #34bef2, #1882ff);
  color: white; */
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  transition: all 0.5s ease;
}

.button-view {
  width: 100%;
  border-radius: 20px;
}

.button-main:hover {
  background: linear-gradient(to left, #34bef2, #1882ff);
  color: white; 
}

.button-view:hover {
  background: linear-gradient(to left, #34bef2, #1882ff);
  color: white; 
}
/* END BUTTON */


/* Book List 1*/
.container #book-list {
  width: 100%;
  margin: 20px 10px;
  border: 1px #dfdfdf solid;
  border-radius: 5px;
}

#book-list, #book-detail, #cart-items {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#book-list div, #cart-items div {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 15px;
  background-color: white;
  width: calc(25% - 40px);
  border-radius: 3px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#book-list div .title {
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  height: 10%;
  margin-top: 8px;
}

#book-list div .price {
  margin-bottom: 0;
  color: red;
  font-weight: 700;
}

/* LOGIN & REGISTER*/
.registration-container,
.login-container,
.reset-password-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px 30px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.registration-title,
.login-title {
  text-align: center;
}

.form-label {
  display: block;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #007bff;
}

.switch-to-login,
.switch-to-register,
.switch-to- {
  text-align: center;
}

.login-link,
.register-link {
  color: #007bff;
  text-decoration: none;
}

.login-link:hover,
.register-link:hover {
  text-decoration: underline;
}

.reset-password-title {
  text-align: center;
  margin: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.forgot-password {
  margin: 15px;
  text-align: center;
}

#book-list div .book_cover {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1;
}


.login-container .login-form a,
.reset-password-container .login-link a {
    text-decoration: none;
    color: #007bff;
    text-align: center;
}

#book-list div .modal{
  width: 50%;
  height: 70%;
}
 
/* Book List 2 */
#book-list div .modal .modal-dialog {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#book-list div .modal .modal-dialog .modal-content {
  
  width: 100%;
}

.book-details #bookModalBody .cover-book {
  width: 100%;             
  max-height: 300px;      
  object-fit: contain;       
  border-radius: 5px;    
  aspect-ratio: 4/3;
}

.book-details #bookModal {
  width: 100%;
  height: auto;
}

/* reset passowrd */
.forgot-password {
  margin: 15px;
  text-align: center;
}

.login-container .login-form a,
.reset-password-container .login-link a {
    text-decoration: none;
    color: #007bff;
    text-align: center;
}

/* Cart */
.cart-list .cart-item {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 100%;
  margin: 20px;
  align-items: center;
  background-color: #fff;
  padding: 10px 5px;
}

.cart-list .cart-item .book-cover {
  width: 200px;
  height: auto;
}

/* CART */
#cart-list .cart-image {
  width: 200px;
  height: auto;
}
/* END CART */
